.quicksand-first {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;

  font-style: normal;
}







/* shared style */
.black-button {
  background-color: #000000;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 60px;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  margin: 0px;
}

.button-september {
  background-color: #c855fe;
  color: whitesmoke;
  border: none;
  border-radius: 47px;
  padding: 10px 18px;
  margin-top: -25px;
  position: absolute;
  margin-left: -70px;
}

.button-november {
  background-color: #e924c5;
  color: whitesmoke;
  border: none;
  border-radius: 47px;
  padding: 10px 18px;
  margin-top: -25px;
  position: absolute;
  margin-left: -200px;
}

.font-h {
  font-weight: bold;
  font-size: 0.958rem;
  margin-top: 20px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.font-description {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 0.958rem;
  color: rgba(102, 102, 102, 1);
}

.display-flex {
  display: flex;
}

/* navbar style */

.nav-container {
  width: 1140px;
  height: 62px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 140px;
  gap: 186px;
}

.nav-container ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-logo img {
  width: 62px;
}

.nav-title {
  font-size: 2rem;
  font-weight: bold;
}

.item {
  gap: 32px;
}

.item-1 {
  color: orange;
}

.item-2 {
  color: #c914a8;
}

.item-3 {
  color: blue;
}

.item-4 {
  color: crimson;
}

.nav-menu {
  display: none;
}

.contact-button {
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
}

/* marquee style */
.marquee {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

.marquee span {
  display: inline-block;
  margin-top: 40px;
  animation: marquee 15s linear infinite;
  font-weight: 700;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }

}




/* nav-banner style */
.nav-banner {
  width: 1158;
  gap: 50px;
  margin: 20px 140px 60px 140px;

}

.banner-container {
  margin: 0 auto;
  padding: 0px;

}

.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 122px;


}

.banner-description {
  margin: 5px 0px;
}

.orange {
  color: orange;
}

.blu {
  color: skyblue;
}





/* Standard Curriculum */
.stander-section {
  width: 1440px;
  background-image: url("assets/bg.png");
}

.curriculum-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

}

.curriculum-container {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 28px;
  text-align: center;

}

.curriculum-card {
  box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
  width: 370px;
  height: 470px;
  border-radius: 19px;
}

.curriculum-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(32, 32, 32, 1);
}

.curriculum-container img {
  padding: 52px 115px 38px 115px;
}

.btn-1 {
  background-color: rgba(255, 255, 255, 0.913);
  border: none;
  color: #34a4e6;
  width: 100px;
  height: 28px;
  font-size: 0.98rem;
  font-weight: bold;
}

.btn-2 {
  background-color: rgba(255, 255, 255, 0.786);
  border: none;
  color: #fc377f;
  width: 100px;
  height: 28px;
  font-size: 0.98rem;
  font-weight: bold;
}

.btn-3 {
  background-color: rgba(255, 255, 255, 0.841);
  border: none;
  color: #ba34e6;
  width: 100px;
  height: 28px;
  font-size: 0.98rem;
  font-weight: bold;
}

.card-1 {
  stroke: rgba(255, 244, 220, 1);
  background: linear-gradient(to bottom, #DEF5FF 9%, #FFFFFF 100%);
}

.card-2 {
  background: linear-gradient(to bottom, #FFF4DC 40%, white 100%);
}

.card-3 {
  background: linear-gradient(to bottom, #F2E8FF 3%, #FFFFFF 100%);

}

.circle-container {
  margin-top: 80px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  position: relative;
  background-color: orange;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle:first-child::before {
  content: "<";
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.circle:last-child::before {
  content: ">";
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}




/* our stories */
.heading-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

}

.background-img {
  background-image: url("assets/bg.png");


}

.story-section {
  /* background-image: url("assets/bg.png"); */
  background: linear-gradient(to top, #FEA301 1%, #fff 100%);
  width: 1160px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 190px;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

/* .story-container{
    width: 540;
  } */
.story-container {
  width: 540px;
  height: 630px;
  background-color: #fff;
  border-radius: 16px;
  /* position: relative; */
  margin-top: 0px;


}

.story-container img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 540px;
}

.container-2 {
  width: 601px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;



}

.container-2 img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 300px;
  height: 220px;
}

.story-titlee {
  font-weight: bold;
  font-size: 1.5rem;

}

.box-1 {
  background-color: #fff;
  border-radius: 16px;

}

/* footer style */
.footer {
  width: 1439px;
  margin: 0 auto;
}

.footer-container {
  /* width: 1439px; */
  height: 520px;
  width: 1070px;

  background: linear-gradient(0deg, rgba(82, 3, 112, 0.939) 1%, white 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0 140px;
  gap: 150px;
  width: 100%;
}

.logo-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.footer-content img {
  width: 70px;
  height: 94px;
  margin-top: 14px;
}

.footer-content {
  align-items: center;
  gap: 10px;
  align-content: center;
}

.logo-description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
}

.item-header {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  margin-bottom: 32px;
}

.footer-container ul li {
  list-style: none;
  color: white;
  margin-bottom: 15PX;
}






@media screen and (max-width:576px) {
  html body {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin: 0 0px;
    overflow-x: hidden;

  }

  .banner-title {
    padding-top: 0;
    margin: 5px;
  }

  .background-img,
  .story-section img {
    max-width: 400px;
    padding: 0;
    margin: 0;
  }

  .nav-container,
  .marquee {
    visibility: hidden;

  }

  .nav-banner {
    flex-direction: column-reverse;
    grid-template-columns: repeat(1, 1fr);
  }

  .banner-container img {
    /* width:100%; */
    margin: 0;
    padding: 0;
  }

  .navbar-logo img {
    visibility: visible;
  }





.nav-container {
  border-bottom: 1px solid rgb(255, 0, 25);

}

.curriculum-container {
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  margin: 10px;
  width: 560px;
  justify-items: center;
}

.curriculum-header {
  text-align: center;
  padding: 0 0;
  margin: 0;
  width: 100%;

}

.circle-container,
.story-container {
  display: none;
}

.footer-container {
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  gap: 10px;
  margin: 0;

}

.story-section,
.stander-section,
.nav-container,
.footer-container {
  padding: 0;
  width: 576px;
  margin: 0 auto;
}

.item-header {
  margin: 5px;
}

.footer-content .logo-description {
  margin: 5px;
}


}